/**** BASE BODY STYLES ****/

body {
    background-color: #cccccc;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    flex-direction: column; /* Arrange content vertically */
}

/* HEADER & NAVBAR */

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li:first-child { 
    margin-right: auto;
    /* font-size: 2em; */
}
  
header nav ul li:last-child {
    margin-left: auto;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: 	#c19c60; /* Gold on hover */
}

/* MAIN CONTENT */

main {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    flex: 1; /* Allow the main content area to expand and push the footer down */
}

main h1 {
    color: #c19c60; /* Gold */
    margin-bottom: 20px;
}

main p {
    line-height: 1.6;
    color: #ffffff;
}

/* Containers, content & media resizing */

.container {
    max-width: 50%;
    /* margin: 0 auto;     Centers the div */
}

@media (max-width: 768px) {
    .container {
      max-width: 100%; /* Make the div full width on smaller screens */
    }
}

.container img {
    max-width: 100%;  /* Make the image fit within the container */
    height: auto;     /* Maintain aspect ratio */
}

/* Make embedded video resize with window and mantain aspect ratio */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* LEARN PAGE */

details {
    background-color: #000000;
    padding: 10px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

summary h2 {
    display: inline; /* or display: inline-block; */
  }

#references {
    font-size: small;
}

/* CONTACT PAGE */

.contact {
    text-decoration: none;  /* Removes underline */
    color: #ffffff;         /* Sets the link text color to black */
}

a:hover { 
    color: #c19c60;
}

.fa-phone {
    color: #25D366;
}

.fa-envelope {
    color: #0088cc;
}

.fa-instagram-square {
    color: #f56040;
}

/* FOOTER STYLES */

footer {
    background-color: #c19c60;
    color: #000000;
    text-align: center;
    /* padding: 10px; */
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

h3 {
    font-weight: unset;
}
