{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block extracss %}
<style>
    body {
        background-color: #813d03; /* contact page background color */
    }
</style>
{% endblock %}

{% block content %}
<!-- <h1>Who is Manay Das?</h1> -->
<div class="container">
  <p>Jarin van Emmichoven is a rising musician, therapist, and voice expression coach, passionately weaving together the threads of sound, emotion, and self-discovery. With a foundation of a Bachelor and Master in psychology, Jarin sees the human voice not just as a means of communication, but as a powerful instrument for healing and transformation. His two-year apprenticeship under the renowned Marius Engelbrecht, a leading voice expression therapist in the Netherlands, has deepened his understanding of the subtle connection between self, voice, and emotion.&nbsp;</p>
  <p>Building on these experiences, Jarin has developed his own unique approach, which he calls <em>Ātma Bhāvaka</em>. Rooted in his training with Marius and further shaped by his experience in leading voice expression workshops, <em>Ātma Bhāvaka</em> is a practice that blends the insights of ancient spiritual traditions with modern psychological principles. <em>Ātma Bhāvaka</em> can be translated from Sanskrit as &ldquo;Soul Expression,&rdquo; reflecting Jarin&rsquo;s belief in the power of the human voice to uncover and liberate one's innermost being.&nbsp;</p>
  <p>In his practice, Jarin explores the intersection of music and therapy, creating safe and creative spaces where clients are encouraged to rediscover their authentic voice. He believes that each voice carries the imprint of its owner's journey, and that by unlocking the voice, one can unlock hidden layers of self-awareness and healing. His work is not limited to those with a musical background; he invites anyone with the courage to explore their inner landscape through sound.&nbsp;</p>
  <p>Though at the beginning of his career, Jarin is steadily making a name for himself as a visionary in the field of voice therapy. His holistic approach, combining psychology, music, and expressive techniques, resonates with individuals searching for more than traditional therapeutic methods. Jarin dreams of one day opening a retreat center, where people from all walks of life can immerse themselves in the liberating practice of voice expression, amidst the healing presence of nature.&nbsp;</p>
  <p>As he continues to refine his practice and musical journey, Jarin remains committed to his mission: to help others find the courage to express their truest selves, and to sing the songs they&rsquo;ve kept hidden within. Through <em>Ātma Bhāvaka</em>, he aims to bridge the wisdom of ancient spirituality with the understanding of modern psychology, enabling individuals to find their voice and, in doing so, to find themselves.&nbsp;</p>
  <img src="{% static 'media/manay_das.jpg' %}" alt="Manay Das">
</div>
{% endblock %}
