<!-- templates/about.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<h1>Who is Manay Das?</h1>
<div class="container">
    <p>Manay Das is a musician, therapist and voice expression coach at the beginning of his career.
      He has studied psychology and accomplished a two year apprenticeship of voice expression with Marius Engelbrecht,
      one of the most successful voice expression therapists of the Netherlands.
    </p>
    <img src="{% static 'media/manay_das.jpg' %}" alt="Manay Das">
</div>
{% endblock %}
