<!-- templates/contact.html -->
{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact & Bookings</h1>
<!-- Contact Links -->
<h3><strong>For additional information and bookings, please contact me directly:</strong></h3>
<ul>
  <li>
    <a class="contact" href="tel:+4917610716264" target="_blank" rel="noopener">
      <i class="fas fa-phone"></i> <b>Mobile:</b> +4917610716264
    </a>
  </li>
  <li>
    <a class="contact" href="mailto:jarin.z@hotmail.de" rel="noopener">
      <i class="fas fa-envelope"></i> <b>Email:</b> jarin.z@hotmail.de
    </a>
  </li>
  <li>
    <a class="contact" href="https://www.instagram.com/instagram_profile" target="_blank" rel="noopener">
      <i class="fab fa-instagram-square"></i> <b>Instagram:</b> atma_bhavaka
    </a>
  </li>
</ul>
<!-- Workshop address -->
<h3><strong>Workshop address:</strong></h3>
<p>Will be posted soon..</p>
<!-- Company info -->
<h3><strong>Company info:</strong></h3>
<ul>
  <li>Van Emmichoven</li>
  <li>Veldwijkstraat 1</li>
  <li>5213CT Den Bosch</li>
  <li>KVK Number: 87915138</li>
</ul>
{% endblock %}
