<!-- templates/contact.html -->
{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact & Bookings</h1>
<h3>At the moment, for all information and bookings please contact me directly:</h3>
<ul>
    <li>
      <a class="contact" href="https://wa.me/+4917610716264" target="_blank">
        <i class="fab fa-whatsapp"></i> <b>WhatsApp:</b> +4917610716264
      </a>
    </li>
    <li>
      <a class="contact" href="https://web.telegram.org/k/#@ManayDas" target="_blank">
        <i class="fab fa-telegram"></i> <b>Telegram:</b> @ManayDas
      </a>
    </li>
    <li>
      <a class="contact" href="mailto:jarin.z@hotmail.de">
        <i class="fas fa-envelope"></i> <b>Email:</b> jarin.z@hotmail.de
      </a>
    </li>
  </ul>
{% endblock %}
