{% extends "base.html" %}

{% block title %}Home - Ātmā Bhāvaka{% endblock %}

{% block content %}
<h1>Ātmā Bhāvaka - Express your Soul!</h1>
<p>Ātmā Bhāvaka,<br />A way to connect to an ancient and sacred part within ourselves. <br />A way to experience a deep connection to the people around us.<br />A way to sprout roots deep into the ground <br />A way to release blocked emotions and receive therapeutic benefits. <br />A way to become more playful and joyful by means of connecting to our inner child. <br />A way of finding our inner voice and expressing it with all our heart, all our mind, and all our soul!</p>
{% endblock %}
