{% extends "base.html" %}
{% load static %}
{% block title %}Home - Ātmā Bhāvaka{% endblock %}

{% block content %}

<div class="cover">
  <img src="{% static 'media/cover-main.png' %}" alt="Om logo">
</div>

<div class="container">
  <div class="quote">
    <div class="quote-content">
      {% if quote %}
        {{ quote.content|safe }}
      {% else %}
        <p>
          <span class="decoration">༺&nbsp;&nbsp;༻</span><br/>
          A way to root ourselves deep into the ground.<br/>
          A way to experience a deep connection to the people around us.<br/>
          A way of finding our inner voice and expressing it with all our heart, mind and soul!<br/>
          A way to become more playful and joyful by means of connecting to our inner child.<br/>
          A way to release blocked emotions and receive therapeutic benefits.<br/>
          A way to connect to an ancient and sacred part within ourselves.<br/>
          ༺&nbsp;&nbsp;༻
        </p>
      {% endif %}
    </div>
  </div>
  <div class="video">
    <iframe src="https://www.youtube.com/embed/AoSX5wFAGo8?si=Aa91kfnuVu8b21rA"
            title="Atma Bhavaka"
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
    </iframe>
  </div>
</div>
{% endblock %}
